**/*.pyc
**/*.csv
**/*.log

**/mlruns
**/.neptune
**/test_trainer

tmp/**/*
tmp/*
!tmp/.gitkeep

data/**/*
tmp/*
!data/.gitkeep


**/*.csv
**/*.json
**/*.log
**/mlruns
**/.neptune
**/test_trainer
**/*.pth
**/*.pt
**/*.bin
**/*.txt

!data/meta.txt
!external/meta.txt
!logs/dataset-metadata.json
!resources/**/*
